/* src/components/PixivPage.css */
.pixiv-page {
    text-align: center;
    padding: 50px;
  }
  
  .pixiv-page .gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  